@charset "UTF-8";
main{
	margin-top: 130px;
	width:100%;
	min-height: 100vh;
}

#detail{
	width:1200px;
	min-height: 500px;
	margin: 0 auto;
	background-color:rgba(255,164,9,0.1)
}
#detail ul{
	min-height: 100px;
	margin-top: 35px;
}
#det-title{
	margin: 0 auto;
	width:800px;
	height: 100px;
	text-align: center;
}
#det-title span{
	font-size: 16px;
	font-weight: 600;
}
#det-title>div>div:nth-child(3) span{
	font-size: 25px;
	font-weight: 800;
}
#det-img{
	height: 300px;
	margin: 0 auto;
}
#det-detail .wrap-cont{
	margin: 0 auto;
	text-align: center;
	width: 800px;
	min-height: 100px;
	font-size: 16px;
}
#wrap-detail-info{
	margin:0 auto;
	width: 900px;
}
#wrap-detail-info>div>div{
	width: 200px;
	text-align: center;
}
#def-option>div{
	margin: 0 auto;
}
#def-option>div>span{
	border-radius:4px;
	border: 1px solid rgba(255,164,9,0.8);
	min-height: 60px;
	min-width: 130px;
	margin: 20px 0px 20px 20px;
	font-size: 18px;
	font-weight: 600;
	text-align: center;
	line-height: 60px;
	background-color:rgba(255,164,9,0.8) !important;
	text-shadow: 1px 1px 3px gray;
	color: #fff !important;
}
.img-area {
	margin: 0 auto;
	width:800px;
	overflow: hidden;
}
.img-area a{
	width:800px;
}
.fimg .bg {
	display: inline-block;
	width: 100%;
	height: 400px;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
#img-btn {
	margin-top: -220px !important;
}
#img-btn li {
	margin:0 auto;
	width:900px;
}
#img-btn .btn:hover {
	cursor: pointer;
	background-color: #fff;
	opacity: 0.7;
}

#img-btn .btn {
	width: 40px;
	height: 40px;
	font-family: 'Monoton', cursive;
	font-size: 23px;
	font-weight: 700;
	border-radius: 20px;
	opacity: 0.3;
	border-color: rgba(0, 0, 0, 0.4);
	background-color: rgba(0, 0, 0, 0.4);
	color: lightgray;
	border-style: none;
}

#img-btn .prev {
	padding-right: 3px;
	left: 10px;
}

#img-btn .next {
	padding-left: 3px;
	right: 10px;
}
#img-btn .bullet-wrap{
	margin: 0 auto;
}
#img-btn .bullet {
	margin-top: 180px;
	margin-left: 250px;
	margin-right: 250px;
}

#img-btn .bullet ol {
	margin:0 5px;
	width: 20px;
	height: 20px;
	top: 10px;
	opacity: 0.6;
	border-color: lightgray;
	background-color: #d0c9c9;
	border: 3px solid rgba(0, 0, 0, 0.4);
	border-radius: 10px;
	text-align: center;
}

#img-btn .bullet ol:hover {
	cursor: pointer;
	background-color: #fff;
	opacity: 0.7;
}

.target {
	cursor: pointer !important;
	background-color: rgba(255,164,9,0.8) !important;
}
button {
	border-radius:4px;
	font-size:16px;
	margin-right:10px;
	border: 0;
	width:80px;
	height: 30px;
	color: #fff;
	background-color: rgb(255,164,9);
	cursor: pointer;
}
.check-at{
	font-weight:700;
	color:green;
	border-radius:4px;
	width:80px;
	height: 30px;
	border: 5px solid green;
	line-height: 16px;
}
