<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{layout/layout1 :: layout(~{::head}, ~{::main})}">
<head>
<link rel="stylesheet" href="/css/board/sumType/sum.css">
<script src="/js/board/sum.js"></script>
</head>
<main>
	<div class="wrap page">
		<h1>아파트매물목록</h1>
		<section id="list-search">
			<h1>검색영역</h1>
			<div class="flex between">
				<ul class="search-area flex between">
					<li class="cataPayType" value="0">
						<span>월세</span>
					</li>
					<li class="cataPayType" value="1">
						<span>전세</span>
					</li>
					<li class="cataPayType" value="2">
						<span>매매</span>
					</li>
				</ul>
			</div>
		</section>
		<section style="width: 1200px; margin: 0 auto;">
			<div class="search-opt">
				<select id="cateBuildType">
				    <option selected="selected">건물형태선택</option>
					<option value="0">단독주택</option>
				    <option value="1">다가구주택</option>
				    <option value="2">빌라/연립/다가구</option>
				    <option value="3">아파트</option>
				    <option value="4">상가</option>
				</select>
				<div id="deposit">
					<span>보증금 및 매매금액(*만원단위)</span>
					<input id="price1" type="number" placeholder="만원단위로 숫자만 입력해주세요.">
					<input id="price2" type="number" placeholder="만원단위로 숫자만 입력해주세요.">
					<button id="search-btn1" type="button">찾기</button>
				</div>
				<div id="monthPay">
					<span>월세(*만원단위)</span>
					<input id="monthPrice1" type="number" placeholder="만원단위로 숫자만 입력해주세요.">
					<input id="monthPrice2" type="number" placeholder="만원단위로 숫자만 입력해주세요.">
					<button id="search-btn2" type="button">찾기</button>
				</div>
			</div>
		</section>
		<section id="list" class="list"></section>
		<section style="width: 1200px; margin: 0 auto;">
			<div class="bot-btn flex right">
				<a href="/board/list/write/email"><button>내글보기</button></a>
				<a href="/board/binbang/write"><button>글쓰기</button></a>
			</div>
		</section>
	</div>
</main>
</html>