<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{layout/layout1 :: layout(~{::head}, ~{::main})}">
<head>
<link rel="stylesheet" href="/css/board/sumType/sum.css">
<script src="/js/board/sum.js"></script>
</head>
<main>
	<div class="wrap">
		<h1>아파트매물목록</h1>
		<section id="list-search">
			<h1>검색영역</h1>
			<div class="flex between">
				<ul class="search-area flex left">
					<li>
						<span class="boil-wrap flex">
	                       	<select style="margin: 30px 0;" name="boilType">
	                           	<option selected="selected">방종류</option>
	                           	<option value="1">원룸</option>
	                           	<option value="2">투룸</option>
	                           	<option value="3">쓰리룸</option>
	                           	<option value="4">오피스텔</option>
	                       	</select>
	                  	</span>
					</li>
					<li>
						<span class="boil-wrap flex">
	                       	<select name="boilType">
	                           	<option selected="selected">매물종류</option>
	                           	<option value="1">전세</option>
	                           	<option value="2">월세</option>
	                           	<option value="3">매매</option>
	                       	</select>
	                  	</span>
					</li>
					<li>
						<span class="boil-wrap flex">
	                       	<select name="boilType">
	                           	<option selected="selected">가격대</option>
	                           	<option value="1">미구현</option>
	                       	</select>
	                  	</span>
					</li>
					<li>
						<span class="boil-wrap flex">
	                       	<select name="boilType">
	                           	<option selected="selected">집크기</option>
	                           	<option value="1">미구현</option>
	                       	</select>
	                  	</span>
					</li>
					<li>
						<span class="boil-wrap flex">
	                       	<select name="boilType">
	                           	<option selected="selected">추가 옵션</option>
	                            <option value="1">미구현</option>
	                       	</select>
	                  	</span>
					</li>
				</ul>
				<ul class="search-area flex left">
					<li>
						<input>
					</li>
					<li>
						<button>검색</button>
					</li>
				</ul>
			</div>
		</section>
		<section class="list">
			<div>
				<ul th:each="dto : ${list}">
					<li>
						<div class="img-area"> 
							<div th:id="|fimg-wrap_${dtoStat.index}|" class="fimg-wrap">
								<ul th:id="|fimg_${dtoStat.index}|" class="fimg flex">
									<li th:each="file,i:${dto.boardFiles}" th:value="${i.index}">
										<a th:style="|background-image: url(${file.boardFilesUrl+file.boardFilesChangeName});|" th:href="|/board/detail/${dto.boardNo}|" class="bg area"></a>
									</li>
								</ul>
							</div>
						</div>
						<div>
							<div>
								<span>[[${dto.boardTitle}]]</span>
							</div>
							<div>
								<span>[[${dto.boardHouseType.title()}]] /</span>
								<span>[[${dto.boardPayType.title()}]] /</span>
								<span>[[${dto.boardBuildType.title()}]]</span>
							</div>
						</div>
					</li>
				</ul>
			</div>
		</section>
		<section style="width: 1200px; margin: 0 auto;">
			<div class="bot-btn flex right">
				<a href="/board/list/write/email"><button>내글보기</button></a>
				<a href="/board/binbang/write"><button>글쓰기</button></a>
			</div>
		</section>
	</div>
</main>
</html>