<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<section id="list" class="list">
	<input type="hidden" th:value="${cate1}">
	<div class="grid-container">
		<ul th:each="dto : ${list}">
			<li>
				<div class="img-area">
					<div th:id="|fimg-wrap_${dtoStat.index}|" class="fimg-wrap">
						<ul th:id="|fimg_${dtoStat.index}|" class="fimg flex">
							<li th:each="file:${dto.boardFiles}"><a
								th:style="|background-image: url(${file.boardFilesUrl+file.boardFilesChangeName});|"
								th:href="|/board/detail/${dto.boardNo}|" class="bg area"></a></li>
						</ul>
					</div>
				</div>
				<div class="info">
					<div>
						<p class="title">[[${dto.boardTitle}]]</p>
					</div>
					<div>
						<span>[[${dto.boardHouseType.title()}]] /</span>
						<span>[[${dto.boardPayType.title()}]]/</span>
						<span>[[${dto.boardBuildType.title()}]]</span>
					</div>
					<div>
						<p th:text="${#strings.substring(dto.boardAddress,0,6)}"></p>
					</div>
					<div>
						<p th:if="${dto.boardPayType.title() eq '월세'}">보증금 :
							[[${dto.boardDeposit}]] 만원</p>
						<p th:if="${dto.boardPayType.title() eq '월세'}">월세 :
							[[${dto.boardPaymonth}]] 만원</p>
						<p th:if="${dto.boardPayType.title() eq '전세'}">전세 :
							[[${dto.boardDeposit}]] 만원</p>
						<p th:if="${dto.boardPayType.title() eq '매매'}">매매 :
							[[${dto.boardDeposit}]] 만원</p>
					</div>
					<div>
						<input type="hidden" th:value="${dto.boardNo}">
						<input type="hidden" th:value="${dto.memberNo}">
						<input type="hidden" th:value="${dto.boardAllFloors}"> <input
							type="hidden" th:value="${dto.boardPositonFloor}"> <input
							type="hidden" th:value="${dto.boardExclusive}"> <input
							type="hidden" th:value="${dto.boardSupply}"> <input
							type="hidden" th:value="${dto.boardAddress}"> <input
							type="hidden" th:value="${dto.boardAddress}"> <input
							type="hidden" th:value="${dto.boardOption}">
					</div>
				</div>
			</li>
		</ul>
	</div>
</section>