<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{layout/layout1 :: layout(~{::head}, ~{::main})}">
<head>
<link rel="stylesheet" href="/css/board/list.css">
</head>
<main>
	<h1>main</h1>
	<div>
		<!-- board - main -->
		<div id="map"
			style="width: 100%; height: 860px; position: relative; overflow: hidden;"></div>
		<div id="menu_wrap" class="bg_white">
			<div class="option">
				<div>
					<form onsubmit="searchPlaces();">
						키워드 : <input type="text" value="" id="keyword" size="15">
						<button type="submit">검색하기</button>
					</form>
				</div>
			</div>
			<hr>
			<ul id="placesList"></ul>
			<div id="pagination"></div>
		</div>
	</div>
	<div th:each="dto:${list}">
		<input type="hidden" th:value="${dto.boardNo}">
		<input type="hidden" th:value="${dto.boardHouseType}">
		<input type="hidden" th:value="${dto.boardBuildType}">
		<input th:class="addr" th:id="|addr_${dtoStat.index}|" type="hidden" th:value="${dto.boardAddress}">
		<input type="hidden" th:value="${dto.boardHouseType}">
		<input th:class="addrD" th:id="|addrD_${dtoStat.index}|" type="hidden" th:value="${dto.boardAddressDetail}">
		<input type="hidden" th:value="${dto.boardPayType}">
		<input type="hidden" th:value="${dto.boardDeposit}">
		<input type="hidden" th:value="${dto.boardPaymonth}">
		<input type="hidden" th:value="${dto.boardSupply}">
		<input type="hidden" th:value="${dto.boardAllFloors}">
		<input type="hidden" th:value="${dto.boardPositonFloor}">
		<input type="hidden" th:value="${dto.boardInDate}">
		<input type="hidden" th:value="${dto.boardTitle}">
		<input type="hidden" th:value="${dto.boardContents}">
		<input type="hidden" th:value="${dto.memberEmail}">
	</div>
	<script type="text/javascript"
		src="//dapi.kakao.com/v2/maps/sdk.js?appkey=588578978e1a4fed13de72adcc381d81&libraries=services"></script>
	<script th:inline="javascript">

	var markers = [];

	var mapContainer = document.getElementById('map'), // 지도를 표시할 div 
		mapOption = {
			center: new kakao.maps.LatLng(37.566826, 126.9786567), // 지도의 중심좌표
			level: 8
			// 지도의 확대 레벨
		};
	var center = new kakao.maps.LatLng(37.566826, 126.9786567);
	// 지도를 생성합니다    
	var map = new kakao.maps.Map(mapContainer, mapOption);

	// 장소 검색 객체를 생성합니다
	var ps = new kakao.maps.services.Places();

	// 주소-좌표 변환 객체를 생성합니다
	var geocoder = new kakao.maps.services.Geocoder();

	// 검색 결과 목록이나 마커를 클릭했을 때 장소명을 표출할 인포윈도우를 생성합니다
	var infowindow = new kakao.maps.InfoWindow({
		zIndex: 1
	});
	$(function() {
		mapList();
	});
	function mapList() {
		var url = '/customer/board/map/list';
		$.get(url, function(response) {
			if (response.result == 'fail') {
				console.log(response.message);
				return;
			}
			$('#map').empty();
			map = new kakao.maps.Map(mapContainer, mapOption);
			// 지도 확대 축소를 제어할 수 있는  줌 컨트롤을 생성합니다
			var zoomControl = new kakao.maps.ZoomControl();
			map.addControl(zoomControl, kakao.maps.ControlPosition.RIGHT);
			for(var i=0;i<=$(".addr").length - 1;i++){
			// 주소로 좌표를 검색합니다
				geocoder.addressSearch($("#addr_"+i).val(), function(result, status) {
		
				    // 정상적으로 검색이 완료됐으면 
				     if (status === kakao.maps.services.Status.OK) {
		
				        var coords = new kakao.maps.LatLng(result[0].y, result[0].x);
		
				        // 결과값으로 받은 위치를 마커로 표시합니다
				        var marker = new kakao.maps.Marker({
				            map: map,
				            position: coords,
				            clickable: true
				        });
				    }; 
				});
			}
		});
	}
	</script>
</main>
</html>