<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
th:replace="~{layout/layout2 :: layout(~{::head}, ~{::main})}">
<head>
	<link rel="stylesheet" href="/css/member/signin.css">
	<link rel="stylesheet" href="/css/reset.css">
	<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css">
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<main>
	<h1>메인컨텐츠</h1>
	<div class="signin wrap">
		<div><a href="/">home</a></div>
		<p>로그인</p>
		<div class="error" th:if="${param.errorMsg}">
			<span>이메일 또는 비밀번호를 확인하세요</span>
		</div>
		<form action="/customer/login" method="post">
			<ul>
				<li>
					<input type="text" name="memberEmail" placeholder="이메일입력">
				</li>
				<li>
					<input type="password" name="memberPass" placeholder="비밀번호입력">
				</li>
				<li>
					<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" >
					<button type="submit">로그인</button>
				</li>
				<a href="/oauth2/authorization/google">구글로그인</a>
			</ul>
		</form>
	</div>
</main>
</html>