<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{layout/layout1 :: layout(~{::head}, ~{::main})}">
<head>
<link rel="stylesheet" href="/css/board/listType/list.css">
<script src="/js/board/list.js"></script>
</head>
<main>
	<div class="wrap">
		<h1>아파트매물목록</h1>
		<section id="list-search">
			<h1>검색영역</h1>
			<div class="flex between">
				<ul class="search-area flex left">
					<li>
						<span class="boil-wrap flex">
	                       	<select id="cataPayType">
	                           	<option selected="selected">매물종류</option>
	                           	<option value="0">월세</option>
	                           	<option value="1">전세</option>
	                           	<option value="2">매매</option>
	                       	</select>
	                  	</span>
					</li>
					<li>
						<span class="boil-wrap flex">
	                       	<select id="cateBuildType">
							    <option selected="selected">건물형태선택</option>
								<option value="0">단독주택</option>
							    <option value="1">다가구주택</option>
							    <option value="2">빌라/연립/다가구</option>
							    <option value="3">아파트</option>
							    <option value="4">상가</option>
							</select>
	                  	</span>
					</li>
					<li id="deposit" class="flex">
						<span style=" width:100px;margin: 30px 0px;text-align: center;line-height:40px; ">보증금(전세)</span>
						<span class="boil-wrap flex">
	                       	<input style="width: 70px;margin: 30px 0px;" id="price1" type="number" placeholder="0">
							<input style="width: 70px;margin: 30px 0px;" id="price2" type="number" placeholder="0">
							<button style="margin-left: 5px;" id="search-btn1" type="button">보증금(전세)찾기</button>
	                  	</span>
					</li>
					<li id="monthPay" class="flex"><span style=" width:60px;margin: 30px 0px;text-align: center;line-height:40px; ">월세</span>
						<span class="boil-wrap flex">
	                       	<input style="width: 70px;margin: 30px 0px;" id="price1" type="number" placeholder="0">
							<input style="width: 70px;margin: 30px 0px;" id="price2" type="number" placeholder="0">
							<button style="margin-left: 5px;" id="search-btn1" type="button">월세찾기</button>
	                  	</span>
					</li>
				</ul>
				<ul class="search-area flex left">
					<li>
						<input style="width: 200px;" id="addr" placeholder="시.구 단위로 주소를 입력하세요.">
					
					</li>
					<li>
						<button style="margin-left: 5px;" id="search-btn3">검색</button>
					</li>
				</ul>
			</div>
		</section>
		<section id="list" class="list">
			<div>
				<table>
					<thead>
						<tr>
							<td>지역</td>
							<td>제목</td>
							<td>구분</td>
							<td>가격</td>
							<td>등록일</td>
							<td>수정일</td>
						</tr>
					</thead>
					<tbody>
						<tr th:each="dto : ${list}">
							<td th:text="${#strings.substring(dto.boardAddress,0,6)}"></td>
							<td>
								<a th:href="|/board/detail/${dto.boardNo}/${#authentication.principal.memberNo}|">[[${dto.boardTitle}]]</a>
							</td>
							<td>[[${dto.boardPayType.title()}]]</td>
							<td th:if="${dto.boardPayType.title() eq '월세'}">
								<span>보증금 : [[${dto.boardDeposit}]] 만원 /</span>
								<span>월세 : [[${dto.boardPaymonth}]] 만원</span>
							</td>
							<td th:if="${dto.boardPayType.title() eq '매매'}">
								<span>매매 : [[${dto.boardDeposit}]] 만원</span>
							</td>
							<td th:if="${dto.boardPayType.title() eq '전세'}">
								<span>전세 : [[${dto.boardDeposit}]] 만원</span>
							</td>
							<td>
							</td>
						</tr>
							<tr th:if="${#lists.isEmpty(list)}">
							<td colspan="5">게시글이 존재하지 않습니다.</td>
						</tr>
					</tbody>
				</table>
			</div>
		</section>
		<section style="width: 1200px; margin: 0 auto;">
			<div class="bot-btn flex right">
				<a href="/board/list/write/email"><button>내글보기</button></a>
				<a href="/board/binbang/write"><button>글쓰기</button></a>
			</div>
		</section>
		<section>
			<div id="pageBtn" th:if="${!#lists.isEmpty(list)}">
				<a th:if="${pi.start gt 1}" th:href="@{/customer/board/list(pageNo=${pi.start-1})}">
					<button type="button">&lt;</button>
				</a>
				<a th:each="pno : ${#numbers.sequence(pi.start,pi.end)}" th:href="@{/customer/board/list(pageNo=${pno})}">
					<button type="button">[[${pno}]]</button>
				</a>
				<a th:if="${pi.end lt pi.total}" th:href="@{/customer/board/list(pageNo=${pi.end+1})}">
					<button type="button">&gt;</button>
				</a>
			</div>
		</section>
	</div>
</main>
</html>