<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{layout/layout1 :: layout(~{::head}, ~{::main})}">
<head>
<link rel="stylesheet" href="/css/register/regAdd.css">
</head>
<main>
<div class="register-add-new">
	<div class="item-header">
		<img src="//s.zigbang.com/mobile/v1/register/logo.png" />
	</div>
	<div class="item-step">
		<img src="//s.zigbang.com/mobile/v1/register/step_1.png" />
	</div>
	<div class="i-wrap">
		<div class="item-cont">
			<div class="i-tit">
				<h4>필수 입력사항</h4>
				<p>
					<strong>국가공간정보포털의 부동산중개업 정보에 등록된 대표 공인중개사만 회원가입이 가능합니다.</strong><br />소속공인중개사
					및 중개보조원은 회원가입 후 추가 가능합니다.
				</p>
			</div>

			<ul>
				<li class="item-search-box">
					<h5>중개사무소 정보</h5>
					<button onClick="agentLayerShow()">중개사무소 찾기</button>
					<div>
						이름 : <span id="agent_name"></span>(<span id="req_user"></span>) <br />
						주소 : <span id="address1"></span><br /> 대표번호 : <span
							id="agent-tel"></span>
					</div>
				</li>
				<li>
					<h5>대표공인중개사 휴대폰 번호</h5> <select id="tel1" class="i-tel">
						<option value="010" selected>010</option>
						<option value="011">011</option>
						<option value="016">016</option>
						<option value="017">017</option>
						<option value="018">018</option>
						<option value="019">019</option>
				</select> - <input type="number" id="tel2" class="num_check1 text i-tel"
					maxlength="4" /> - <input type="number" id="tel3"
					class="num_check1 text i-tel" maxlength="4" />
				</li>
				<li>
					<h5>대표공인중개사 이메일</h5>
					<p>가입 후 아이디로 이용됩니다</p> <input id="email1" type="text"
					class="text i-mail" /> <span>@</span><input id="email2"
					type="text" class="text  i-mail"
					style="width: 160px; margin-left: 3px; display: none" disabled />
					<select id="emailDomain" class=" i-mail">
						<option value="" selected>선택하세요</option>
						<option value="naver.com">naver.com</option>
						<option value="hanmail.net">hanmail.net</option>
						<option value="daum.net">daum.net</option>
						<option value="nate.com">nate.com</option>
						<option value="gmail.com">gmail.com</option>
						<option value="korea.com">korea.com</option>
						<option value="lycos.co.kr">lycos.co.kr</option>
						<option value="dreamwiz.com">dreamwiz.com</option>
						<option value="hotmail.com">hotmail.com</option>
						<option value="empal.com">empal.com</option>
						<option value="self">직접입력</option>
				</select>
				</li>
				<li>
					<div>
						<h5 class="mb-10" style="display: inline-block">주거래 매물</h5>
						(중복 선택 가능)
					</div> <input type="hidden" id="use_type" />
					<div>
						<label><input type="checkbox" name="use_type"
							value="region" /> 다세대/다가구</label> <label><input type="checkbox"
							name="use_type" value="officetel" /> 오피스텔/도시형생활주택</label> <label><input
							type="checkbox" name="use_type" value="villa" /> 빌라</label>
					</div>
				</li>
				<li>
					<div class="item-agree" id="item-check">
						<label data-src="user-privacy-agent-register/index.html"><input
							type="checkbox" id="agree3" /> 개인정보 수집 및 이용에 대한 동의</label>
						<button type="button">보기 &gt;</button>
					</div>
				</li>
			</ul>
			<div class="item-search-area apt" style="display: none">
				<p class="ico_sub_title_apt">입점을 원하시는 아파트를 입력하고 상세정보를 확인해보세요.</p>
				<div class="item-search-t2">
					<span class="ico_tit_search"></span>
					<div id="search_form" class="search_form">
						<input type="hidden" id="request_apart" value=""> <input
							type="text" class="text" id="apt_name" name="apt_name" value=""
							placeholder="입점 희망 아파트명을 입력해주세요 (최대 5개 선택)" />
					</div>
				</div>
				<div class="item-result-t2" style="display: none">
					<div class="i-apt">
						<h4>
							<span class="icon-apartment2"></span>선택한 아파트 (최대 5개 중 <i
								class="cnt_stats"></i>개 선택)
						</h4>
						<table>
							<thead>
								<tr>
									<th>아파트명</th>
									<th>총 세대수</th>
									<th>준공년도</th>
									<th>상세정보</th>
								</tr>
							</thead>
							<tbody></tbody>
						</table>
						<button class="reset">
							<img src="//s.zigbang.com/v1/web/register/ico_refresh.png" alt=""><span>아파트
								다시 선택하기</span>
						</button>
						<p class="tip">상품의 자세한 내용 및 구매 가능 여부는 담당 매니저가 안내해 드립니다.</p>
					</div>
				</div>
			</div>

		</div>


	</div>

	<div class="item-submit">
		<p>
			<strong>문의전화 <a href="tel:1661-8734">1661-8734</a></strong> (09:00 ~
			19:00)
		</p>

		<button type="button" id="join_agent_btn">가입 신청하기</button>
	</div>
</div>


<div class="agree-layer" id="agree-layer">
	<div class="i-frame">
		<iframe frameborder="0" marginwidth="0" marginheight="0" height="100%"
			src="//s.zigbang.com/agree/user-agreement-last.html" scrolling="auto"></iframe>
	</div>
	<div class="i-btn">
		<button type="button">닫기</button>
	</div>
</div>


<div class="agent-search-layer" id="agent-search-layer">
	<div class="box">
		<div class="i-title">
			중개사무소 찾기
			<button type="button" onClick="$('#agent-search-layer').hide();">
				<span class="zbIcon icon-close2"></span>
			</button>
		</div>

		<div class="i-cont">
			<input type="text" typeahead-select-on-blur="true"
				placeholder="예)종로 베스트공인 김직방" id="agent-search-input" />
			<div class="i-ex">
				중개사무소 이름, 대표자명, 주소를 조합하여 <strong>국가공간정보포털의 부동산중개업 정보에 등록된
					정보를</strong> 검색할 수 있습니다. <br /> 중개사무소가 검색되지 않을 경우1661-8734로 문의주세요.
			</div>
			<div class="i-result">
				<strong>주소</strong> <span class="i-addr"></span> <strong>대표번호
				</strong> <span class="i-tel"></span>
				<button onclick="onClickSetAgent()">확인</button>

			</div>
		</div>
	</div>
</div>
</main>
</html>