<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{layout/layout1 :: layout(~{::head}, ~{::main})}">
<head>
<link rel="stylesheet" href="/css/register/regInfo.css">
</head>
<main>
	<h1>main</h1>
	<div class="wrap">
		<div class="register-info-new" id="register-info-new">
			<a href="/Home/RegisterAdd" class="item-top-banner"
				style="display: none;">중개사무소 회원가입 신청하기</a>
			<div class="item-cont">
				<div class="top-wrapper">
					<img class="web-main-bg"
						src="//s.zigbang.com/v1/web/register/image-01.png"
						alt="아직도 직방 중개사무소 회원이 아니세요?" />
					<div class="register-main-component">
						<a class="register" href="/customer/registerAdd">중개사무소 회원가입 신청하기</a>
						<div class="intro_prod">
							<a class="intro-link" href="/agent/product/oneroom">
								<div class="intro-link-title">
									원룸형 배너 상품 보기
									<div class="arrow"></div>
								</div>
								<div class="intro-link-detail">원룸 전용 전·월세</div>
							</a> <a class="intro-link" href="/agent/product/officetel">
								<div class="intro-link-title">
									단지형 배너 상품 보기
									<div class="arrow"></div>
								</div>
								<div class="intro-link-detail">오피스텔/도시형 생활주택</div>
							</a> <a class="intro-link" href="/agent/product/villa">
								<div class="intro-link-title">
									빌라형 배너 상품 보기
									<div class="arrow"></div>
								</div>
								<div class="intro-link-detail">투룸 이상 전용 전·월세/매매</div>
							</a>
						</div>
					</div>
				</div>
				<div class="i-info">
					<img class="web-main-bg"
						src="//s.zigbang.com/v1/web/register/image-02.png"
						alt="직방을 경험한 사무소는 다시 직방을 이용합니다" />
					<div style="background: rgb(245, 245, 247);">
						<img class="web-main-bg"
							src="//s.zigbang.com/v1/web/register/image-03.png" alt="" />
					</div>
					<img class="web-main-bg"
						src="//s.zigbang.com/v1/web/register/image-04.png" alt="" />
				</div>
				<div class="i-review">
					<div style="background: rgb(13, 50, 89);">
						<img class="web-main-bg"
							src="//s.zigbang.com/v1/web/register/image-05.png" alt="" />
					</div>
				</div>
				<div class="i-product">
					<div style="background: rgb(245, 245, 247);">
						<img class="web-main-bg"
							src="//s.zigbang.com/v1/web/register/image-06.png" alt=""
							usemap="#faqmap" />
					</div>
					<map name="faqmap">
						<area coords="1180,711,1640,756" shape="rect"
							href="/Home/RegisterAdd">
						<area coords="1796,716,1874,756,1182,977" shape="rect"
							href="/Home/RegisterAdd">
						<area coords="1196,973,1644,1014" shape="rect"
							href="/Home/RegisterAdd">
					</map>
				</div>
				<div class="i-join" style="background: rgb(13, 50, 89);">
					<div class="bottom-wrapper">
						<img class="web-main-bg"
							src="//s.zigbang.com/v1/web/register/image-07.png" alt="" />
						<div class="register-main-component">
							<a class="register" href="/Home/RegisterAdd">중개사무소 회원가입 신청하기</a>
							<div class="intro_prod">
								<a class="intro-link" href="/agent/product/oneroom">
									<div class="intro-link-title">
										원룸형 배너 상품 보기
										<div class="arrow"></div>
									</div>
									<div class="intro-link-detail">원룸 전용 전·월세</div>
								</a> <a class="intro-link" href="/agent/product/officetel">
									<div class="intro-link-title">
										단지형 배너 상품 보기
										<div class="arrow"></div>
									</div>
									<div class="intro-link-detail">오피스텔/도시형 생활주택</div>
								</a> <a class="intro-link" href="/agent/product/villa">
									<div class="intro-link-title">
										빌라형 배너 상품 보기
										<div class="arrow"></div>
									</div>
									<div class="intro-link-detail">투룸 이상 전용 전·월세/매매</div>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</main>
</html>