@charset "UTF-8";

@import
	url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap')
	;
@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');
*{margin: 0;padding: 0;box-sizing: border-box;font-family: 'Noto Sans KR', sans-serif;}
h1{position: absolute;left: -9999px;}
li{list-style: none;}
a{text-decoration:none;color: inherit;background-color: transparent;}
a:hover{text-decoration:none;color: inherit;background-color: transparent;}
.row{flex-direction: row;}
.flex {display: flex;}
.center {justify-content: center;}
.between {justify-content: space-between;}
.around {justify-content: space-around;}
.left {justify-content: flex-start;}
.right {justify-content: flex-end;}
.flex-center{
	justify-content: center;
	align-items: center;
}
button{
	cursor: pointer;
}
.view-size{width: 1180px; margin: 0 auto;}
input{
	cursor: pointer;
}
input:read-only {
	border: none;
}
#pageBtn{margin: 0 500px auto;display: flex;justify-content: space-around;}
#pageBtn button {
	border: 0;
	border-radius: 100px;
	width: 25px;
	height: 25px;
	color: #fff;
	background-color: rgb(255,164,9);
	cursor: pointer;
}
