<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{layout/layout1 :: layout(~{::head}, ~{::main})}">
<head>
<link rel="stylesheet" href="/css/common/index.css">
<script type="text/javascript" src="/js/visual.js"></script>
</head>
<main>
<h1>main</h1>
	<div class="wrap">
		<section class="main-top">
			<div class="top-search">
				<div class="top-title">
					<p>어떤 집을 찾고 계세요?</p>
				</div>
				<div class="search-map">
					<div class="search-menu">
						<ul class="search-name flex between">
							<li>
								<span class="boil-wrap flex">
			                       	<select name="boilType">
			                           	<option selected="selected">방종류</option>
			                           	<option value="1">원룸</option>
			                           	<option value="2">투룸</option>
			                           	<option value="3">쓰리룸</option>
			                           	<option value="4">오피스텔</option>
			                       	</select>
			                  	</span>
							</li>
							<li>
								<span class="boil-wrap flex">
			                       	<select name="boilType">
			                           	<option selected="selected">매물종류</option>
			                           	<option value="1">전세</option>
			                           	<option value="2">월세</option>
			                           	<option value="3">매매</option>
			                       	</select>
			                  	</span>
							</li>
							<li>
								<span class="boil-wrap flex">
			                       	<select name="boilType">
			                           	<option selected="selected">가격대</option>
			                           	<option value="1">미구현</option>
			                       	</select>
			                  	</span>
							</li>
							<li>
								<span class="boil-wrap flex">
			                       	<select name="boilType">
			                           	<option selected="selected">집크기</option>
			                           	<option value="1">미구현</option>
			                       	</select>
			                  	</span>
							</li>
							<li>
								<span class="boil-wrap flex">
			                       	<select name="boilType">
			                           	<option selected="selected">추가 옵션</option>
			                            <option value="1">미구현</option>
			                       	</select>
			                  	</span>
							</li>
						</ul>
					</div>
					<div class="seach-box flex">
						<div class="seach-text">
							<input type="text" placeholder="원하시는 지역명, 지하철역, 단지명(아파트명)을 입력해주세요">
						</div>
						<div class="seach-button">
							<img src="https://s.zigbang.com/v1/web/main/ic_search.png" alt="찾아보기" class="">
						</div>
					</div>
				</div>
			</div>
		</section>
		<section class="note">
			<div class="wrap flex between">
				<div>
					<ul>
						<li>
							<span>광고</span>
						</li>
						<li class="addvisual"></li>
					</ul>
				</div>
				<div>
					<ul>
						<li class="flex between">
							<span>최신빈방</span>
							<a href="/customer/board/list">
								<button>더보기</button>
							</a>
						</li>
						<li class="addList"></li>
					</ul>
				</div>
				<div>
					<ul>
						<li class="flex between">
							<span>신고게시판</span>
							<a href="/report/list">
								<button>더보기</button>
							</a>
						</li>
						<li class="addreport"></li>
						<li></li>
						<li></li>
					</ul>
				</div>
			</div>
		</section>
	</div>
</main>
</html>