<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{layout/layout1 :: layout(~{::head}, ~{::main})}">
<head>
<link rel="stylesheet" href="/css/index.css">
</head>
<main>
	<h1>main</h1>
	<div class="wrap">
		<div mode="fixed" class="sc-hJxDiT UPFzK">
			<div class="sc-hRxcUd fNdCai css-1dbjc4n">
				<div class="sc-fTNIjK cVgiLg css-1dbjc4n">
					<div class="sc-biOYyE lfMGpm css-1dbjc4n">
						<div class="sc-bTRMho sc-hguplt vDLNz iCaoJS css-1563yu1">어떤 집을 찾고 계세요?</div>
					</div>
					<div class="sc-BXpxD cYLBra css-1dbjc4n">
						<div class="sc-fiKUBa coRuOl css-1dbjc4n">
							<div class="sc-lgqlnP jiLciE css-1dbjc4n">
								<div class="sc-bTRMho sc-kJFuxL vDLNz blFDMI css-1563yu1"></div>
								<div class="sc-bTRMho sc-huZMQ vDLNz IdZMq css-1563yu1">
									<span class="sc-bTRMho sc-gfaqzF vDLNz gGstzN css-1563yu1 css-16my406 r-1loqt21">아파트</span>
								</div>
								<div class="sc-bTRMho sc-huZMQ vDLNz IdZMq css-1563yu1">
									<span class="sc-bTRMho sc-gfaqzF vDLNz cEira-d css-1563yu1 css-16my406 r-1loqt21">빌라,투룸+</span>
								</div>
								<div class="sc-bTRMho sc-huZMQ vDLNz IdZMq css-1563yu1">
									<span class="sc-bTRMho sc-gfaqzF vDLNz cEira-d css-1563yu1 css-16my406 r-1loqt21">원룸</span>
								</div>
								<div class="sc-bTRMho sc-huZMQ vDLNz IdZMq css-1563yu1"
									dir="auto">
									<span
										class="sc-bTRMho sc-gfaqzF vDLNz cEira-d css-1563yu1 css-16my406 r-1loqt21">오피스텔</span>
								</div>
								<div class="sc-bTRMho sc-huZMQ vDLNz IdZMq css-1563yu1"
									dir="auto">
									<span
										class="sc-bTRMho sc-gfaqzF vDLNz cEira-d css-1563yu1 css-16my406 r-1loqt21">창업/사무실</span>
								</div>
							</div>
							<div class="sc-clhTte kPlcnF css-1dbjc4n">
								<div
									class="css-1dbjc4n r-n2h5ot r-5qlx7g r-1vznrp2 r-uvuy5l r-ah86l4 r-btgi9e r-gxpyh3 r-m1ore8 r-1jtzkro">
									<input type="text"
										placeholder="원하시는 지역명, 지하철역, 단지명(아파트명)을 입력해주세요"
										autocomplete="off" class="sc-bAffKu elIteO">
								</div>
								<div class="sc-cipXqI bIXpVE css-1dbjc4n r-1loqt21" tabindex="0">
									<img src="https://s.zigbang.com/v1/web/main/ic_search.png"
										alt="찾아보기" class="sc-kGNyvp erMatk">
									<div class="css-1dbjc4n r-633pao"
										style="background-color: rgba(0, 0, 0, 0.00); bottom: 0px; left: 0px; position: absolute; right: 0px; top: 0px"></div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="sc-jYCGPb dEnWTa css-1dbjc4n">
					<div class="sc-bxnjHY dzyUvA css-1dbjc4n">
						<div class="sc-jVKKMF coWxRQ css-1dbjc4n">
							<div class="css-1dbjc4n r-qklmqi r-po8w4y r-1t982j2 r-1h8ys4a">
								<div dir="auto" class="css-1563yu1"
									style="color: rgba(0, 0, 0, 1.00); font-family: SpoqaHanSans; font-size: 16px; font-weight: bold; line-height: 20px">소개할게요</div>
							</div>
							<div tabindex="0" class="css-1dbjc4n"
								style="cursor: pointer; margin-top: 20px">
								<div class="css-1dbjc4n"
									style="-webkit-flex-basis: auto; flex-basis: auto; height: 140px; overflow-x: hidden; overflow-y: hidden; width: 260px; z-index: 0; -ms-flex-preferred-size: auto">
									<div class="css-1dbjc4n"
										style="background-color: rgba(0, 0, 0, 0); background-position: center center; background-repeat: no-repeat; background-size: cover; inset: 0px; height: 100%; position: absolute; width: 100%; z-index: -1; background-image: url(&quot;https://zigbang-cms.s3.ap-northeast-2.amazonaws.com/ww_520_x_280_833ce5bc67.jpg&quot;);"></div>
									<img alt="" draggable="false"
										src="https://zigbang-cms.s3.ap-northeast-2.amazonaws.com/ww_520_x_280_833ce5bc67.jpg"
										class="css-9pa8cd">
								</div>
								<div class="css-1dbjc4n r-633pao"
									style="background-color: rgba(0, 0, 0, 0.00); bottom: 0px; left: 0px; position: absolute; right: 0px; top: 0px"></div>
							</div>
						</div>
						<div class="sc-dHnuKO bVbOaA css-1dbjc4n">
							<div class="css-1dbjc4n r-qklmqi r-po8w4y r-1t982j2 r-1h8ys4a">
								<div dir="auto" class="css-1563yu1"
									style="color: rgba(0, 0, 0, 1.00); font-family: SpoqaHanSans; font-size: 16px; font-weight: bold; line-height: 20px">뉴스</div>
							</div>
							<div tabindex="0"
								class="css-1dbjc4n r-1loqt21 r-u8s1d r-zchlnj r-ipm5af">
								<div class="sc-fnlXEO bApNVU css-1dbjc4n">
									<div class="sc-bTRMho sc-jcRCNh vDLNz jmjVKh css-1563yu1"
										dir="auto">더보기</div>
								</div>
								<div class="css-1dbjc4n r-633pao"
									style="background-color: rgba(0, 0, 0, 0.00); bottom: 0px; left: 0px; position: absolute; right: 0px; top: 0px"></div>
							</div>
							<div class="css-1dbjc4n"
								style="-webkit-overflow-scrolling: touch; -webkit-flex-direction: column; -ms-flex-direction: column; flex-direction: column; -webkit-flex-grow: 1; flex-grow: 1; -webkit-flex-shrink: 1; flex-shrink: 1; margin-top: 8px; overflow-x: hidden; overflow-y: auto; -webkit-transform: translateZ(0px); transform: translateZ(0px); -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-positive: 1; -webkit-box-flex: 1; -ms-flex-negative: 1">
								<div class="css-1dbjc4n">
									<div class="css-1dbjc4n"></div>
									<div class="css-1dbjc4n">
										<div class="sc-jfJyPD iwKHnK css-1dbjc4n r-1loqt21"
											tabindex="0">
											<div dir="auto" class="css-1563yu1 css-vcwn7f"
												style="color: rgba(0, 0, 0, 1.00); font-family: SpoqaHanSans; font-size: 12px; line-height: 15px; white-space: nowrap">나의
												공간을 내 취향대로</div>
											<div class="css-1dbjc4n r-633pao"
												style="background-color: rgba(0, 0, 0, 0.00); bottom: 0px; left: 0px; position: absolute; right: 0px; top: 0px"></div>
										</div>
									</div>
									<div class="css-1dbjc4n">
										<div class="sc-jfJyPD iwKHnK css-1dbjc4n r-1loqt21"
											tabindex="0">
											<div dir="auto" class="css-1563yu1 css-vcwn7f"
												style="color: rgba(0, 0, 0, 1.00); font-family: SpoqaHanSans; font-size: 12px; line-height: 15px; white-space: nowrap">‘방
												3개짜리 원룸’ 나온다</div>
											<div class="css-1dbjc4n r-633pao"
												style="background-color: rgba(0, 0, 0, 0.00); bottom: 0px; left: 0px; position: absolute; right: 0px; top: 0px"></div>
										</div>
									</div>
									<div class="css-1dbjc4n">
										<div class="sc-jfJyPD iwKHnK css-1dbjc4n r-1loqt21"
											tabindex="0">
											<div dir="auto" class="css-1563yu1 css-vcwn7f"
												style="color: rgba(0, 0, 0, 1.00); font-family: SpoqaHanSans; font-size: 12px; line-height: 15px; white-space: nowrap">바이러스가
												바꾼 주거 트렌드</div>
											<div class="css-1dbjc4n r-633pao"
												style="background-color: rgba(0, 0, 0, 0.00); bottom: 0px; left: 0px; position: absolute; right: 0px; top: 0px"></div>
										</div>
									</div>
									<div class="css-1dbjc4n">
										<div class="sc-jfJyPD iwKHnK css-1dbjc4n r-1loqt21"
											tabindex="0">
											<div dir="auto" class="css-1563yu1 css-vcwn7f"
												style="color: rgba(0, 0, 0, 1.00); font-family: SpoqaHanSans; font-size: 12px; line-height: 15px; white-space: nowrap">VR로
												집구경 미리 해보고 산다.</div>
											<div class="css-1dbjc4n r-633pao"
												style="background-color: rgba(0, 0, 0, 0.00); bottom: 0px; left: 0px; position: absolute; right: 0px; top: 0px"></div>
										</div>
									</div>
									<div class="css-1dbjc4n">
										<div class="sc-jfJyPD iwKHnK css-1dbjc4n r-1loqt21"
											tabindex="0">
											<div dir="auto" class="css-1563yu1 css-vcwn7f"
												style="color: rgba(0, 0, 0, 1.00); font-family: SpoqaHanSans; font-size: 12px; line-height: 15px; white-space: nowrap">"직방에서
												신한카드로 월세 내세요"</div>
											<div class="css-1dbjc4n r-633pao"
												style="background-color: rgba(0, 0, 0, 0.00); bottom: 0px; left: 0px; position: absolute; right: 0px; top: 0px"></div>
										</div>
									</div>
									<div class="css-1dbjc4n"></div>
								</div>
							</div>
						</div>
						<div class="sc-Qpmqz kERVrr css-1dbjc4n">
							<div class="css-1dbjc4n r-qklmqi r-po8w4y r-1t982j2 r-1h8ys4a">
								<div dir="auto" class="css-1563yu1"
									style="color: rgba(0, 0, 0, 1.00); font-family: SpoqaHanSans; font-size: 16px; font-weight: bold; line-height: 20px">공지사항</div>
							</div>
							<div tabindex="0"
								class="css-1dbjc4n r-1loqt21 r-u8s1d r-zchlnj r-ipm5af">
								<div class="sc-fnlXEO bApNVU css-1dbjc4n">
									<div class="sc-bTRMho sc-jcRCNh vDLNz jmjVKh css-1563yu1"
										dir="auto">더보기</div>
								</div>
								<div class="css-1dbjc4n r-633pao"
									style="background-color: rgba(0, 0, 0, 0.00); bottom: 0px; left: 0px; position: absolute; right: 0px; top: 0px"></div>
							</div>
							<div class="css-1dbjc4n"
								style="-webkit-overflow-scrolling: touch; -webkit-flex-direction: column; -ms-flex-direction: column; flex-direction: column; -webkit-flex-grow: 1; flex-grow: 1; -webkit-flex-shrink: 1; flex-shrink: 1; margin-top: 8px; overflow-x: hidden; overflow-y: auto; -webkit-transform: translateZ(0px); transform: translateZ(0px); -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-positive: 1; -webkit-box-flex: 1; -ms-flex-negative: 1">
								<div class="css-1dbjc4n">
									<div class="css-1dbjc4n"></div>
									<div class="css-1dbjc4n">
										<div class="sc-jfJyPD iwKHnK css-1dbjc4n r-1loqt21"
											tabindex="0">
											<div dir="auto" class="css-1563yu1 css-vcwn7f"
												style="color: rgba(0, 0, 0, 1.00); font-family: SpoqaHanSans; font-size: 12px; line-height: 15px; white-space: nowrap">[공지]
												빈방 위치기반서비스 이용약관(2022/06/08) 개정 안내</div>
											<div class="css-1dbjc4n r-633pao"
												style="background-color: rgba(0, 0, 0, 0.00); bottom: 0px; left: 0px; position: absolute; right: 0px; top: 0px"></div>
										</div>
									</div>
									<div class="css-1dbjc4n">
										<div class="sc-jfJyPD iwKHnK css-1dbjc4n r-1loqt21"
											tabindex="0">
											<div dir="auto" class="css-1563yu1 css-vcwn7f"
												style="color: rgba(0, 0, 0, 1.00); font-family: SpoqaHanSans; font-size: 12px; line-height: 15px; white-space: nowrap">[공지]
												빈방 Internet Explorer 11 지원 종료 안내</div>
											<div class="css-1dbjc4n r-633pao"
												style="background-color: rgba(0, 0, 0, 0.00); bottom: 0px; left: 0px; position: absolute; right: 0px; top: 0px"></div>
										</div>
									</div>
									<div class="css-1dbjc4n">
										<div class="sc-jfJyPD iwKHnK css-1dbjc4n r-1loqt21"
											tabindex="0">
											<div dir="auto" class="css-1563yu1 css-vcwn7f"
												style="color: rgba(0, 0, 0, 1.00); font-family: SpoqaHanSans; font-size: 12px; line-height: 15px; white-space: nowrap">[공지]
												빈방 개인정보처리방침(2021/12/14) 개정 안내</div>
											<div class="css-1dbjc4n r-633pao"
												style="background-color: rgba(0, 0, 0, 0.00); bottom: 0px; left: 0px; position: absolute; right: 0px; top: 0px"></div>
										</div>
									</div>
									<div class="css-1dbjc4n">
										<div class="sc-jfJyPD iwKHnK css-1dbjc4n r-1loqt21"
											tabindex="0">
											<div dir="auto" class="css-1563yu1 css-vcwn7f"
												style="color: rgba(0, 0, 0, 1.00); font-family: SpoqaHanSans; font-size: 12px; line-height: 15px; white-space: nowrap">[공지]
												빈방 개인정보처리방침(2021/06/01) 개정 안내</div>
											<div class="css-1dbjc4n r-633pao"
												style="background-color: rgba(0, 0, 0, 0.00); bottom: 0px; left: 0px; position: absolute; right: 0px; top: 0px"></div>
										</div>
									</div>
									<div class="css-1dbjc4n">
										<div class="sc-jfJyPD iwKHnK css-1dbjc4n r-1loqt21"
											tabindex="0">
											<div dir="auto" class="css-1563yu1 css-vcwn7f"
												style="color: rgba(0, 0, 0, 1.00); font-family: SpoqaHanSans; font-size: 12px; line-height: 15px; white-space: nowrap">[공지]
												빈방 개인정보처리방침(2021/02/11) 개정 안내</div>
											<div class="css-1dbjc4n r-633pao"
												style="background-color: rgba(0, 0, 0, 0.00); bottom: 0px; left: 0px; position: absolute; right: 0px; top: 0px"></div>
										</div>
									</div>
									<div class="css-1dbjc4n"></div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</main>
</html>