<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{layout/layout2 :: layout(~{::head}, ~{::main})}">
<head>
<link rel="stylesheet" href="/css/common/index.css">
</head>
<main>
<h1>main</h1>
	<div class="wrap">
		<section class="main-top">
			<div class="top-search">
				<div class="top-title">
					<p>어떤 집을 찾고 계세요?</p>
				</div>
				<div class="search-map">
					<div class="search-menu">
						<ul class="flex around">
							<li>아파트</li>
							<li>빌라,투룸+</li>
							<li>원룸</li>
							<li>오피스텔</li>
							<li>창업/사무실</li>
						</ul>
					</div>
					<div class="seach-box flex">
						<div class="seach-text">
							<input type="text" placeholder="원하시는 지역명, 지하철역, 단지명(아파트명)을 입력해주세요" class="elIteO">
						</div>
						<div class="seach-button">
							<img src="https://s.zigbang.com/v1/web/main/ic_search.png" alt="찾아보기" class="">
						</div>
					</div>
				</div>
			</div>
		</section>
		<section>
		
		</section>
		<section>
		
		</section>
	</div>
</main>
</html>