<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{layout/layout3 :: layout(~{::head}, ~{::main})}">
<head>
<link rel="stylesheet" href="/css/index.css">
</head>
<main>
	<h1>비주얼이미지 리스트</h1>
	<div>
		<p>비주얼 이미지 리스트 페이지</p>
		<table>
			<thead>
				<tr>
					<td>관리번호</td>
					<td>이미지</td>
					<td>타이틀</td>
					<td>서브타이틀</td>
					<td>파일사이즈</td>
				</tr>
			</thead>
			<tbody>
				<tr th:each="dto:${list}">
					<td>[[${dto.visualNo}]]</td>
					<td>
						<img th:src="${dto.visualUrl+dto.visualOriginalName}" height="100px">
					</td>
					<td>[[${dto.visualTitle}]]</td>
					<td>[[${dto.visualSub}]]</td>
					<td>[[${dto.visualSize}]]</td>
				</tr>
			</tbody>
		</table>
	</div>
</main>
</html>